p, li{
  color: black;
  font: Arial;
}

img{
    background-color: white;
    padding: 5px;
    border: 2px;
    margin: 5px;
}

iframe, video, audio{
    background-color: white;
    padding: 5px;
}
    img:hover, iframe:hover, video:hover, audio:hover {
        background-color: blue;
    }

#Video{ 
    text-align: center;
    background-color: rgb(120, 194, 159); 
    margin: 0;
    display: grid;
    grid-template-columns: 100;;
    grid-template-rows: 11% auto;
    grid-template-areas: 
                        "header"
                        "main";
}
    #videoHeader{
        grid-area: header;
    }
    #videoMain{
    grid-area: main;
    }

#Audio{
    text-align: center;
    background-color: rgb(43, 226, 208); 
    margin: 0;
    display: grid;
    grid-template-columns: 100;;
    grid-template-rows: 36% auto;
    grid-template-areas: 
                        "header"
                        "main";
}
    #audioHeader{
        grid-area: header;
    }
    #audioMain{
    grid-area: main;
}

#Images{ 
    text-align: center;
    background-color: rgb(32, 178, 117); 
    margin: 0;
    display: grid;
    grid-template-columns: 100;;
    grid-template-rows: 10% auto;
    grid-template-areas: 
                        "header"
                        "main";
}
    #imageHeader{
        grid-area: header;
    }
    #imageMain{
        grid-area: main;
    }

#Index{ 
    background-color: rgb(43, 159, 226); 
    text-align: center;
    margin: 0;
    display: grid;
    grid-template-columns: 100;;
    grid-template-rows: 38% auto;
    grid-template-areas: 
                        "header"
                        "main";
                        
}
    #indexHeader{
        grid-area: header;
    }
    #indexMain{
        grid-area: main;
    }

#Info{ 
    text-align: center;
    margin: 0;
    display: grid;
    grid-template-columns: 5% auto 5%;
    grid-template-rows: 15% auto 5%;
    grid-template-areas: 
                        "aside header aside2"
                        "aside main aside2"
                        "aside footer aside2";
    background-color: rgb(132, 166, 206); 
}
    Info > aside{
        grid-area: aside;
    }
    header[id="infoHeader"]{
        grid-area: header;
    }
    header ~ aside{
        grid-area: aside2;
    }
    #infoMain{
        grid-area: main;
    }
    main + footer{
        grid-area: footer;
    }
    #infoTable{
        margin-left: auto;
        margin-right: auto;
        padding: 3px;
        border: 5px;
        background-color: lightgray;
    }

.infoForm{
    display: flex;
    flex-direction: row;
    justify-content: center;
 }
    #formDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 15px;
        background-color: lightgray;
    }
    #SubmitButton{
        padding: 5px;
    }
    #error-message{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column ;
        justify-content: center;
        padding: 10px;
    }






.flex-container{
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
    flex-flow: row nowrap;
    justify-content: space-around;
    background-color: rgb(0, 102, 255);
    /* margin: 1rem;
    padding: 2rem; */
}
#div1{
    background-color: lightgreen;
    margin: 1rem;
    height: 30%;
    width: 30%;
}
#div2{
    background-color: lightgreen;
    margin: 1rem;
    height: 30%;
    width: 30%;
}
#div3{
    background-color: lightgreen;
    margin: 1rem;
    height: 30%;
    width: 30%;
}

.Grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    align-content: center;
    justify-content: space-around;
    height: 100vh;
}

header{
    text-align: center;
    background-color: rgb(199, 197, 197);
    margin: -1;
}



@media screen and (max-width: 900px){
    #Info{ 
        text-align: center;
        margin: 0;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 15% auto 5%;
        grid-template-areas: 
                            "header"
                            "main"
                            "footer";
    }
    .Grid-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 12px;
        align-content: center;
        justify-content: space-around;
        height: 160vh;
    }
}
@media screen and (max-width: 599px){
    #Info{
        text-align: center;
        font-size: medium;
        margin: 0;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 15% auto 10%;
        grid-template-areas: 
                            "header"
                            "main"
                            "footer";
    }
    .Grid-container{
        display: grid;
        grid-template-columns: 0.5fr;
        grid-template-rows: 0.5fr;
        grid-gap: 12px;
        align-content: center;
        justify-content: space-around;
        height: 170vh;

    }
}